/*大赛主题*/
.introduce-box {
    font-size: 0;
    width: auto;
    border: 2px solid red;
}

.introduce-box > img {
    width: 100%;
}

/*组织机构*/

.organization-box {
    width: auto;
    display: grid;
    grid-template-columns: 1.4fr 2fr;
}

.organization-box > .organization-title {
    background-color: #eaf4f6;
    padding: 12rem 0 4rem 50rem;
}

.organization-box > .organization-title > p {
    color: #00305b;
}

.organization-box > .organization-title > p:nth-of-type(1) {
    font-size: 4.4rem;
    margin-bottom: 1.6rem;
}

.organization-box > .organization-title > p:nth-of-type(2) {
    font-size: 1.4rem;
    margin-bottom: 3rem;
}

.organization-box > .organization-title > p:nth-of-type(3) {
    width: 7.4rem;
    height: .2rem;
    background-color: #00305b;
}

.organization-box > .organization-details {
    padding: 12rem 0 4rem 6rem;
}

.organization-details > div {
    margin-bottom: 1.4rem;
}

.organization-details > div > h1 {
    color: #17233d;
    font-size: 1.6rem;
    margin-bottom: .4rem;
}

.organization-details > div > p {
    color: #00305b;
    font-size: 2rem;
    line-height: 1.4;
}

/*参赛要求*/

.requirementsin-box {
    width: auto;
    height: 64rem;
    background-color: #00305b;
    color: #fff;
    text-align: center;
    display: grid;
    align-items: center;
}

.title > h1 {
    font-size: 4.8rem;
    margin-bottom: 1.6rem;
}

.title > span {
    font-size: 1.4rem;
    display: block;
    color: #ccd6dd;
    margin-bottom: 10rem;
}

.requirementsin-box > div > .details {
    width: 80rem;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10rem;
}

.requirementsin-box > div > .details > div > img {
    width: 10rem;
    height: 10rem;
    margin-bottom: 2rem;
}

.requirementsin-box > div > .details > div > p {
    font-size: 1.8rem;
    color: #fff;
    text-align: left;
    line-height: 1.4;
}

.requirementsin-box > div > .details > div > p:nth-of-type(1) {
    margin-bottom: 1rem;
}

.requirementsin-box > div > .details > div > p:nth-of-type(1) > span {
    border: 1px solid #fff;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    margin-right: 1rem;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*赛程赛制*/

.rule-box {
    width: auto;
    /*height: 64rem;*/
    background-color: #eaf4f6;
    color: #17233d;
    text-align: center;
    display: grid;
    align-items: center;
    padding: 6rem 0;
}

.title > h1 {
    font-size: 4.8rem;
    margin-bottom: 1.6rem;
}

.title > span {
    font-size: 1.4rem;
    display: block;
    color: #00305b;
    margin-bottom: 10rem;
}

.rule-box > div > .details {
    width: 80rem;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    margin-bottom: 4rem;
}

.rule-box > div > .details > div {
    background-color: #555555;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
    font-size: 1.8rem;
    color: #fff;
    text-align: left;
    line-height: 3rem;
    display: grid;
    align-items: center;
    padding: 2rem;
}

.rule-box > div > .tips {
    font-size: 2rem;
    color: #555555;
}

/*时间安排*/