/*通知公告*/
.img-box {
    font-size: 0;
    width: auto;
}

.img-box > img {
    width: 100%;
}

/*成绩公告*/
.results-box {
    width: 100rem;
    border: 1px solid black;
    margin: 0 auto;
    padding: 8rem 0;
}